<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">CINI</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">POČETNA</a></li>
          <li id="movies"><a href="/movies">REPERTOAR</a></li>
          <li id="pricelist"><a href="/pricelist">CENE</a></li>
          <li id="contact"><a href="/contact">KONTAKT</a></li>
          <% if (isAuthenticated) { %>
            <li id="contact"><a href="/logout">Logout</a></li>
          <% } else { %>
            <li id="contact"><a href="/login">Login</a></li>
            <li id="contact"><a href="/register">Register</a></li>
          <% } %>
        </ul>
    </div>
  </nav>
